body{
    margin: 0;
    text-align: center;
    font-family: 'merriweather', serif ;
}
h1{
    margin: 0;
    font-family: 'saramento'sans-serif;    
}
.bala{
    width: 200px;
    height: 200px;
}
.top-container{
    background-color: #e4f9f5;
    position: relative;
    padding-top: 100px;
}
.pro{
    text-decoration: underline;
}
.top-cloud{
    position: absolute;
    right: 300px;
    top: 50px;
}
.bottom-cloud{
    position: absolute;
    left: 300px;
    bottom: 300px;
}
.computer-bag{
    width: 175px;
    height: 175px;
}
.chillies{
    width: 175px;
    height: 175px;
}
.static{
    width: 175px;
    height: 175px;
}